<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Product Sorting -->
                <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                    <div class="results">Showing <span>12</span> results</div>
                    <div class="sorting_container ml-md-auto">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Sort by</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="product_grid">

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/coilovers.jpg" alt=""></div>
                        <div class="product_extra product_new"><a href="categories.html">New</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">Racing Coilovers</a></div>
                            <div class="product_price">$799.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/intercooler.jpg" alt=""></div>
                        <div class="product_extra product_sale"><a href="categories.html">Sale</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">Front-Mounted Intercooler</a></div>
                            <div class="product_price">$599.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/M156supercharger.jpg" alt=""></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">M156 Supercharger</a></div>
                            <div class="product_price">$999.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/wheel.jpg" alt=""></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">1-Piece Vossen wheel (2)</a></div>
                            <div class="product_price">$999.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/coilovers1.jpg" alt=""></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">Stage 2 Racing Coilovers</a></div>
                            <div class="product_price">$899.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/coilovers2.jpg" alt=""></div>
                        <div class="product_extra product_hot"><a href="categories.html">Hot</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">Tein Coilovers</a></div>
                            <div class="product_price">$999.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/wheel1.jpg" alt=""></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">1-Piece Vossen Wheel (2)</a></div>
                            <div class="product_price">$999.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/wheel2.jpg" alt=""></div>
                        <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">1-piece TSW wheel (2)</a></div>
                            <div class="product_price">$899.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/bbs2.jpg" alt=""></div>
                        <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">3-Piece BBS Wheel (2)</a></div>
                            <div class="product_price">$999.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/bbs3.jpg" alt=""></div>
                        <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">3-Piece BBS Wheel (2)</a></div>
                            <div class="product_price">$1099.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/Turbo.jpg" alt=""></div>
                        <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">Precision Turbocharger</a></div>
                            <div class="product_price">$799.99</div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                        <div class="product_image"><img src="~/Content/Images/Exhaust.jpg" alt=""></div>
                        <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="product.html">Borla Exhaust System</a></div>
                            <div class="product_price">$2999.99</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
